body {
  padding: 0;
  margin: 0;
  color: var(--textwhite);
  background-color: var(--backgroundgrey);
  font-family: "Inter";
  font-weight: 100;

}

a {
  text-decoration: none;
  color: var(--textwhite);
}

a:hover {
  color: var(--doredecor);
}

:root {
  --backgroundgrey: #393D3F;
  --textwhite: #ffffff;
  --doredecor: #BFB645;
}

/* FOOTER */

footer {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 30px 0;

}

.ligne-footer {
  width: 85%;
  border: 1px var(--textwhite) solid;
  margin-bottom: 20px;
}

footer nav ul {
  display: flex;
  list-style: none;
  gap: 150px; /* Réduit l'écart entre les éléments du nav */
  font-size: 17px;
  justify-content: center; /* Centrer tous les éléments horizontalement */
  width: 100%; /* S'assure que l'ul prenne toute la largeur */

}

footer h4 {
  align-self: flex-start; /* Permet de déplacer l'élément h4 à gauche */
  margin-left: 20px; /* Marge pour l'éloigner du bord */
}

#adress {
  position: relative; /* Position relative pour l'élément contenant */
}

#adress::after {
  content: "4 adresse du vide 33500 Bordeaux";
  display: block;
  margin-top: 15px;
  color: var(--doredecor);
  font-size: 0.8rem;
  text-align: center; /* Centre le texte */
  white-space: pre-wrap; /* Gère le retour à la ligne automatiquement */
  width: 100%;
  position: absolute; /* Absolu pour pouvoir le centrer dans son parent */
  left: 50%; /* Le place à 50% du parent */
  transform: translateX(-50%); /* Utilise la transformation pour le centrer parfaitement */
}

.social-icons {
  transform: translateX(35%);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
